* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background: #333;
}

#main {
    z-index: 10;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    transform: translate(0, 50%);
    color: #eee;
}

#yes-or-no {
    margin-bottom: 20px;
}

#time-until {
    font-size: 1.5rem;
}

#fireworks {
    display: none;
}