* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background: #333;
}

#main {
    text-align: center;
    margin-top: 50px;
    transform: translate(0, 50%);
    color: #eee;
}

#no {
    margin-bottom: 20px;
}